@include "ultratroninator.config"

name = "808 XOX 909"

sound_list = [ "BASS", "SNAR", "TOM1", "TOM2", "RIM", "CLAP", "OHAT", "CHAT", "CRSH", "RIDE", "COWB", "SAM1", "SAM2", "SAM3", "SAM4"]

BASS = [ "roland_tr909/BT0A0D3.WAV", "roland_tr909/BT3AADA.WAV", "roland_tr909/BT7AADA.WAV", "roland_tr909/BTAAAD0.WAV" ]

SNAR = [ "roland_tr909/ST0T0S7.WAV", "roland_tr909/ST0TASA.WAV", "roland_tr909/ST3T7S7.WAV", "roland_tr909/ST7T0S7.WAV" ]

TOM1 = [ "roland_tr909/LT0D0.WAV", "roland_tr909/LT0DA.WAV", "roland_tr909/LT7D3.WAV", "roland_tr909/LTAD3.WAV" ]

TOM2 = [ "roland_tr909/HT0D0.WAV", "roland_tr909/HT3D3.WAV", "roland_tr909/HT7D7.WAV", "roland_tr909/HTAD7.WAV" ]

RIM = [ "roland_tr909/RIM127.WAV", "roland_tr909/RIM63.WAV", "roland_tr909/MTADA.WAV", "roland_tr909/MT7DA.WAV" ]

CLAP = [ "roland_tr909/HANDCLP1.WAV", "roland_tr909/HANDCLP2.WAV", "roland_tr909/CLOP2.WAV", "roland_tr909/OPCL2.WAV" ]

OHAT = [ "roland_tr909/HHOD0.WAV", "roland_tr909/HHOD4.WAV", "roland_tr909/HHOD6.WAV", "roland_tr909/HHOD8.WAV" ]

CHAT = [ "roland_tr909/HHCD0.WAV", "roland_tr909/HHCD4.WAV", "roland_tr909/HHCD8.WAV", "roland_tr909/HHCDA.WAV" ]

CRSH = [ "roland_tr909/CSHD0.WAV", "roland_tr909/CSHD4.WAV", "roland_tr909/CSHD8.WAV", "roland_tr909/CSHDA.WAV" ]

RIDE = [ "roland_tr909/RIDED0.WAV", "roland_tr909/RIDED4.WAV", "roland_tr909/RIDED8.WAV", "roland_tr909/RIDEDA.WAV" ]

COWB = [ "spacfury/sf06.wav", "spacfury/sf04.wav", "panic/elaugh.wav", "solarq/nuke1.wav" ]

SAM1 = [ "congo/gorilla.wav", "wow/ahh.wav", "wow/doom.wav", "zektor/elim1.wav"  ]

SAM2 = [ "xevious/explo03.wav", "xevious/explo4.wav", "xevious/explo2.wav", "spacfury/sfury3.wav" ]

SAM3 = [ "elim2/elim2.wav", "ripoff/explosn.wav", "starcrus/explos2.wav", "starcas/sexplode.wav" ]

SAM4 = [ "solarq/smexpl.wav", "dkongjr/land.wav", "astrob/eexplode.wav", "invaders/18.wav" ]

