
@include "ultratroninator.config"

name = "HEX INVADERS";

sound_list = [ "laser_toggled", "showhex", "hidehex", "playerfire", "gameover", "attract", "shieldhit", "shieldlow", "moveinvaders1", "moveinvaders2", "invader_forming", "laser_hit_invader", "laser_hit_shielded_invader", "levelup", "start_game" ];

laser_toggled = [ "bosconian/10_Asteroid_Hit.wav" ];

showhex = [ "bosconian/13_Enemy_Formation_Hit.wav" ];

hidehex = [ "bosconian/07_Cannon_Hit.wav" ];

playerfire = [ "bosconian/05_Shoot.wav" ];

gameover = [ "starcas/lexplode.wav" ];

attract = [ "krull/attract.wav" ];

shieldhit = ["bosconian/08_Blast.wav" ];

shieldlow = [ "bosconian/17_Voice_CONDITION_RED.wav" ];

moveinvaders1 = [ "starcas/star.wav" ];

moveinvaders2 = [ "starcas/shield.wav" ];

invader_forming = [ "bosconian/09_P-Type_Missile_Hit.wav" ];

laser_hit_invader = [ "bosconian/14_E-Type_Missile_Hit.wav" ];

laser_hit_shielded_invader = [ "solarq/phase.wav" ];

levelup = [ "bosconian/11_Voice_Battle_Stations.wav" ];

start_game = [ "bosconian/03_Voice_Blast_Off.wav" ];
