@include "ultratroninator.config"

name = "Master Control Program";

// indirection: each value is a key to another list.
// A random sound is pulled from that referenced list.
sound_list = [ "attract_tease", "attract_intimidate", "attract_coin", "game_start", "game_over", "explosion_short", "effect_alarm" ];

