@include "ultratroninator.config"

name = "Master Control Program";

// this is a bit recursive... foreach of the values lookup and pull
// audio that it references
sound_list = [ "attract_tease", "attract_intimidate", "attract_coin", "game_start", "game_over", "explosion_short", "effect_alarm" ];

