@include "ultratroninator.config"

name = "Master Control Program";

// indirection: each value is a key to another list.
// A random sound is pulled from that referenced list.
sound_list = [ "default_attract_tease", "default_attract_intimidate", "default_attract_coin", "default_game_start", "default_game_over", "previous_game", "next_game", "shutdown_start", "startup", "life" ];

startup = [ "movies/young_frank_alive.wav", "movies/ive-got-a-little-challenge-for-you-sark-a-new-recruit.wav", "movies/firepower.wav", "movies/battle.wav", "movies/war_games_play_a_game.wav", "movies/war_games_play_chess.wav", "defender/deffreem.wav", "defender/defstart.wav", "tron/01-InsertCoin.wav", "movies/infinity.wav" ]

shutdown_start = [ "movies/sorry_dave.wav", "movies/mind_is_going.wav", "movies/just_what.wav", "movies/t1_be_back.wav", "tron/06-GameOverMusic.wav", "dkongjr/death.wav" ]

shutdown_abort = [ "movies/gameover.wav", "movies/darkside.wav" ]

life = [ "tron/03-IOTower.wav" ]

previous_game = ["xevious/explo03.wav", "xevious/explo4.wav", "xevious/explo2.wav", "spacfury/sfury3.wav", "elim2/elim2.wav", "ripoff/explosn.wav", "starcrus/explos2.wav", "starcas/sexplode.wav", "solarq/smexpl.wav", "dkongjr/land.wav", "astrob/eexplode.wav"  ]

next_game = [ "tron/09-Sounds_MCPBlip.wav", "ripoff/bg4.wav", "ripoff/eattack.wav", "ripoff/bg1.wav", "zektor/elim6.wav", "zaxxon/01.wav", "astrof/fire.wav", "solarq/phase.wav", "dkongjr/land.wav", "invaders/1.wav" ]
