// configuration of sounds to play

attract_tease = [ "spacfury/sf0c.wav", "spacfury/sf0b.wav", "wow/hahahaha.wav", "wow/welcome.wav", "zektor/zk02.wav", "zektor/zk0e.wav", "zektor/zk07.wav", "zektor/zk05.wav", "defender/defstart.wav", "astrob/02.wav", "astrob/13.wav", "astrob/1f.wav", "astrob/20.wav", "krull/attract.wav" ]

attract_intimidate = ["spacfury/sf06.wav", "spacfury/sf0d.wav", "spacfury/sf07.wav", "joust/joustpte.wav", "zektor/zk01.wav", "zektor/zk09.wav" ]

attract_coin = ["spacfury/sf02.wav", "tron/01-InsertCoin.wav", "zektor/zk01.wav", "zektor/zk06.wav", "zektor/zk0e.wav","zektor/zk03.wav", "mario/coin.wav", "astrob/04.wav", "astrob/13.wav", "astrob/07.wav", "krull/coin.wav" ]

game_start = ["spacfury/sf09.wav", "tron/02-Start.wav", "zektor/zk03.wav", "defender/deffreem.wav", "defender/defstart.wav", "astrob/04.wav", "astrob/08.wav", "astrob/06.wav", "astrob/1f.wav" ]

game_level_next = ["spacfury/sf06.wav", "spacfury/sf04.wav", "spacfury/sf05.wav", "tron/02-Start.wav", "tron/04-SuccessMusic.wav", "joust/joustlav.wav", "defender/deffreem.wav", "astrob/08.wav"  ]

game_over = ["spacfury/sf0e.wav","spacfury/sf08.wav", "tron/06-GameOverMusic.wav", "warrior/fall.wav", "zektor/zk04.wav" , "zektor/zk02.wav", "zektor/zk10.wav", "zektor/zk12.wav", "dkongjr/death.wav", "astrob/23.wav"  ]

shoot = ["spacfury/sfury4.wav", "elim2/elim6.wav", "congo/congaa.wav", "tron/09-Sounds_MCPBlip.wav", "spacewar/fire1.wav", "ripoff/bg6.wav", "ripoff/efire.wav", "ripoff/bg4.wav", "ripoff/shipfire.wav", "joust/joustthu.wav", "zektor/elim6.wav", "zaxxon/08.wav", "solarq/slaser.wav", "solarq/phase.wav", "astrob/ebullet.wav" ]

player_shoot = [ "tron/07-Sounds_ThrowDisk.wav", "wow/fire.wav", "spacewar/fire2.wav", "spacewar/fire1.wav","ripoff/bg6.wav", "ripoff/efire.wav", "joust/joustegg.wav", "joust/joustthu.wav", "starcas/pfire.wav",  "solarq/slaser.wav", "turbo/ambulanc.wav"]

player_shoot_laser = ["spacfury/sfury4.wav", "elim2/elim6.wav", "tron/07-Sounds_ThrowDisk.wav", "spacewar/fire2.wav", "spacewar/fire1.wav", "ripoff/efire.wav", "joust/joustegg.wav", "zektor/elim6.wav", "starcas/pfire.wav", "zaxxon/08.wav", "astrob/10.wav", "astrob/pbullet.wav" ]

player_shoot_bullet = []

player_introduced = ["tron/10-Sounds_TankTeleport.wav", "joust/joustfre.wav","astrob/deedle.wav" ]

player_move = ["spacfury/sfury5.wav", "elim2/elim1.wav",  "elim2/elim4.wav","spacewar/thrust2.wav", "spacewar/thrust1.wav", "joust/joustfla.wav", "starcas/thrust.wav", "dkongjr/jump.wav", "spaceod/erocket.wav" ]

player_idle = [ "idle.wav" ]

player_stop = [ "joust/joustski.wav" ]

player_spaceship_engine = ["spacfury/sfury2.wav", "spacfury/sfury5.wav", "spacewar/thrust2.wav", "spacewar/thrust1.wav", "joust/joustthu.wav", "zaxxon/10.wav", "zaxxon/05.wav", "solarq/lthrust.wav" ]

player_car_engine = ["elim2/elim4.wav" ]
player_car_engine_long = ["polepos/pp2_18.wav"]
player_accelerate = ["elim2/elim1.wav" ]

player_win = ["spacfury/sf14.wav", "spacfury/sf0a.wav", "spacfury/sf08.wav", "tron/04-SuccessMusic.wav", "tron/04-SuccessMusic_Alt.wav", "tron/08-Sounds_AllMCPBlocksHit.wav", "joust/jouststa.wav", "defender/deffreem.wav", "astrob/06.wav", "invaders/14.wav" ]

player_die = [ "xevious/explo2.wav", "rallyx/bang.wav", "spacfury/sf0e.wav", "spacfury/sfury8.wav", "tron/05-FailMusic_Alt.wav", "tron/11-Sounds_Derezzed.wav", "tron/05-FailMusic.wav", "wow/hahahaha.wav", "spacewar/explode2.wav", "spacewar/explode1.wav", "warrior/killed.wav", "warrior/fall.wav", "joust/joustfre.wav", "zektor/elim2.wav", "zektor/zk12.wav","panic/ekilled.wav", "astrof/bossfire.wav", "astrof/ekilled.wav", "solarq/nuke1.wav", "dkongjr/death.wav", "astrob/invadr3.wav", "astrob/22.wav"  ]

opponent_introduced = ["spacfury/sf09.wav", "elim2/elim12.wav", "warrior/appear.wav", "zektor/zk06.wav", "panic/oxygen.wav", "defender/defmater.wav", "defender/deflande.wav", "solarq/nuke2.wav", "astrob/winvadr4.wav", "astrob/07.wav", "astrob/01.wav", "spaceod/ssound.wav", "invaders/8.wav" ]
opponent_shoot = ["spacewar/fire2.wav", "ripoff/bg6.wav", "ripoff/bg4.wav", "ripoff/eattack.wav", "ripoff/bg1.wav",  "zektor/elim2.wav", "defender/defswarm.wav", "starcas/cfire.wav", "zaxxon/03.wav", "zaxxon/04.wav", "zaxxon/23.wav",  "solarq/efire.wav", "dkongjr/snapjaw.wav", "invaders/13.wav"]
opponent_shoot_laser = ["spacfury/sfury4.wav", "tron/09-Sounds_MCPBlip.wav", "ripoff/bg4.wav", "ripoff/eattack.wav", "ripoff/bg1.wav", "zektor/elim6.wav", "defender/defswarm.wav", "starcas/cfire.wav", "starcas/star.wav", "zaxxon/03.wav", "zaxxon/01.wav", "zaxxon/23.wav", "astrof/bossfire.wav", "astrof/fire.wav", "solarq/nuke2.wav", "solarq/phase.wav", "dkongjr/land.wav", "astrob/invadr4.wav", "spaceod/fire.wav", "invaders/1.wav" ]
opponent_shoot_bullet = []
opponent_move = [ "joust/joustski.wav", "astrob/invadr1.wav", "astrob/winvadr3.wav", "astrob/winvadr1.wav", "spaceod/ssound.wav" ]
opponent_accelerate = []
opponent_warn_player = ["spacfury/sf09.wav", "spacfury/sf05.wav", "spacfury/sfury1.wav", "spacfury/sf07.wav", "spacfury/sf0b.wav", "congo/gorilla.wav", "tron/10-Sounds_TankTeleport.wav", "wow/destroy.wav", "joust/joustpte.wav", "zektor/zk13.wav", "zektor/elim1.wav", "panic/oxygen.wav", "defender/defmater.wav", "defender/deflande.wav", "mario/skid.wav", "astrob/sonar.wav", "astrob/09.wav", "astrob/0a.wav", "spaceod/birth.wav" ]
opponent_lose = ["spacfury/sf06.wav", "spacfury/sf04.wav", "panic/elaugh.wav", "solarq/nuke1.wav", "astrob/0b.wav", "invaders/3.wav" ]
opponent_win = ["spacfury/sf0e.wav", "spacfury/sf0d.wav", "wow/hahahaha.wav", "wow/ahh.wav", "zektor/zk04.wav", "zektor/zk0f.wav", "zektor/zk10.wav", "dkongjr/snapjaw.wav", "spaceod/damaged.wav" ]
opponent_die = ["congo/gorilla.wav", "wow/ahh.wav", "wow/doom.wav", "zektor/elim1.wav", "astrof/bosskill.wav" ]

explosion = ["xevious/explo03.wav", "xevious/explo4.wav", "spacfury/sfury3.wav", "spacfury/sfury7.wav", "spacfury/sfury6.wav", "polepos/pp2_17.wav", "elim2/elim10.wav",  "elim2/elim11.wav","elim2/elim9.wav", "wow/explode.wav", "spacewar/thrust2.wav", "spacewar/explode1.wav", "ripoff/explosn.wav",  "warrior/killed.wav", "warrior/appear.wav", "starcrus/explos2.wav", "starcrus/explos1.wav", "zektor/elim10.wav", "thief/crash.wav", "panic/death.wav", "starcas/lexplode.wav", "starcas/sexplode.wav", "zaxxon/10.wav", "zaxxon/11.wav", "astrof/bosshit.wav", "astrof/death.wav", "solarq/bigexpl.wav", "invaders/12.wav" ]
explosion_short = ["xevious/explo03.wav", "xevious/explo4.wav", "xevious/explo2.wav", "spacfury/sfury3.wav", "elim2/elim2.wav", "ripoff/explosn.wav", "starcrus/explos2.wav", "starcas/sexplode.wav", "solarq/smexpl.wav", "dkongjr/land.wav", "astrob/eexplode.wav"  ]
explosion_long = [ "xevious/explo2.wav", "rallyx/bang.wav", "spacfury/sfury7.wav", "spacfury/sfury6.wav", "spacfury/sfury8.wav", "polepos/pp2_17.wav", "elim2/elim10.wav", "elim2/elim11.wav", "elim2/elim9.wav", "spacewar/explode2.wav", "spacewar/explode1.wav", "warrior/killed.wav", "starcrus/explos1.wav", "zektor/elim10.wav", "thief/crash.wav", "starcas/lexplode.wav",  "solarq/bigexpl.wav", "astrob/pexplode.wav","spaceod/eexplode.wav", "spaceod/pexplode.wav" ]

effect_spin = [ "spacfury/sfury9.wav", "spacfury/sfury10.wav", "elim2/elim8.wav", "tron/08-Sounds_AllMCPBlocksHit.wav", "warrior/bgmhum1.wav", "warrior/bgmhum2.wav", "panic/falling.wav", "starcas/drone.wav", "dkongjr/drop.wav", "astrob/deedle.wav", "astrob/refuel.wav", "spaceod/accel.wav", "spaceod/warp.wav" ]
effect_alarm = [ "spacfury/sfury1.wav", "elim2/elim2.wav", "elim2/elim3.wav", "elim2/elim8.wav", "elim2/elim12.wav", "starcrus/launch.wav", "zektor/elim3.wav",  "panic/trapped.wav", "panic/oxygen.wav", "astrof/fuel.wav", "solarq/hypersp.wav", "solarq/extra.wav", "invaders/18.wav"]
