@include "ultratroninator.config"

name = "TEMPEST";

sound_list = [ "crash_on_spike", "enemy_destroyed", "highscore", "level_up", "player_lose_life", "player_move", "player_multishot", "player_shoot", "superzapper", "electric1", "electric2", "electric3", "electric4", "electric5", "electric6", "electric7" ];

crash_on_spike = [ "tempest/crash_on_spike.wav" ];
enemy_destroyed = [ "tempest/enemy_destroyed.wav" ];
highscore = [ "tempest/highscore.wav" ];
level_up = [ "tempest/level_up.wav" ];
player_lose_life = [ "tempest/player_die.wav" ];
player_move = [ "tempest/player_move.wav" ];
player_multishot = [ "tempest/player_multishot.wav" ];
player_shoot = [ "tempest/player_shoot.wav" ];
superzapper = [ "tempest/superzapper.wav" ];

# not tempest samples...added for special fx here
electric1 = [ "tempest/electric1.wav" ];
electric2 = [ "tempest/electric2.wav" ];
electric3 = [ "tempest/electric3.wav" ];
electric4 = [ "tempest/electric4.wav" ];
electric5 = [ "tempest/electric5.wav" ];
electric6 = [ "tempest/electric6.wav" ];
electric7 = [ "tempest/electric7.wav" ];
