@include "ultratroninator.config"


name = "PONG";

sound_list = [ "hit1", "hit2", "hit3", "hit4",
               "serve1",
               "miss1", "miss2", "miss3", "miss4" ];

hit1 = [ "tennis/ball.wav" ];
hit2 = [ "tennis/tennis.wav" ];
hit3 = [ "tennis/serve.wav" ];
hit4 = [ "tennis/tennis2.wav" ];

miss1 =  [ "unsorted/crazyclimberfall.wav" ];
miss2 =  [ "unsorted/dp_frogger_squash.wav" ];
miss3 =  [ "unsorted/pacdies.wav" ];
miss4 =  [ "unsorted/dp_finalfight.wav" ];

serve1 =  [ "unsorted/dp_timepilot_killed.wav" ];

